<p>
  <strong>First Name:</strong>
  <%= @artist.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @artist.last_name %>
</p> 
<p>
  <strong>Rep ID:</strong>
  <%= @artist.rep_id %>
</p> 

<%= link_to 'Back', artists_path %>
| <%= link_to 'Edit', edit_artist_path(@artist) %>