<p>
  <strong>First Name:</strong>
  <%= @rep.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @rep.last_name %>
</p> 

<p>
  <strong>Contact Number:</strong>
  <%= @rep.contact_number %>
</p> 

<p>
  <strong>Email:</strong>
  <%= @rep.email %>
</p> 

<%= link_to 'Back', reps_path %>
| <%= link_to 'Edit', edit_rep_path(@rep) %>