<%= form_for @tour do |f| %>
  <% if @tour.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tour.errors.count, "error") %> prohibited
      this tour from being saved:</h2>
    <ul>
    <% @tour.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :When %><br>
    <%= f.text_field :date_time %>
  </p>
 
  <p>
    <%= f.label :Where %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :Artist_id %><br>
    <%= f.text_field :artist_id %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>