<!DOCTYPE html>
<html>
<head>
  <title>IslandRecord</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Tours', tours_path %>
| <%= link_to 'Albums', albums_path %>
<%= yield %>

<img src="http://postimg.org/image/5xqhze9dj/">

</body>
</html>
